# Objectives

Import a dataset from a CSV file to a Pandas dataframe
Develop some basic insights about the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

ModuleNotFoundError: No module named 'pyodide'

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"

In [4]:
await download(file_path, "laptops.csv")
file_name="laptops.csv"

NameError: name 'download' is not defined

In [5]:
df = pd.read_csv(file_name)

NameError: name 'file_name' is not defined

In [6]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"
df = pd.read_csv(filepath, header=None)


Loading the dataset to a pandas dataframe named 'df'

In [9]:
df = pd.read_csv(file_path,header=None)
df.head()

     0   1          2   3   4   5       6    7   8    9     10    11
0  Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

Adding headers to the dataframe

In [10]:
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns=headers
df.head(10)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
5,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
6,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
7,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
8,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
9,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068

Dealing with Missing Data

In [11]:
df.replace('?',np.nan,inplace=True)

 checking the data types of the dataframe columns

In [13]:
df.dtypes

Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch     object
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg            object
Price                 int64
dtype: object

 statistical description of the dataset

In [14]:
df.describe(include='all')

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
count,238,238.000000,238,238.000000,238.000000,238.000000,234,238.000000,238.000000,238.000000,233,238.000000
unique,11,NaN,2,NaN,NaN,NaN,9,NaN,NaN,NaN,77,NaN
top,Dell,NaN,Full HD,NaN,NaN,NaN,39.624,NaN,NaN,NaN,2.2,NaN
freq,71,NaN,161,NaN,NaN,NaN,89,NaN,NaN,NaN,21,NaN
mean,NaN,3.205882,NaN,2.151261,1.058824,5.630252,NaN,2.360084,7.882353,245.781513,NaN,1462.344538
std,NaN,0.776533,NaN,0.638282,0.235790,1.241787,NaN,0.411393,2.482603,34.765316,NaN,574.607699
min,NaN,1.000000,NaN,1.000000,1.000000,3.000000,NaN,1.200000,4.000000,128.000000,NaN,527.000000
25%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.000000,8.000000,256.000000,NaN,1066.500000
50%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.500000,8.000000,256.000000,NaN,1333.000000
75%,NaN,4.000000,NaN,3.000000,1.000000,7.000000,NaN,2.700000,8.000000,256.000000,NaN,1777.000000
max,NaN,5.000000,NaN,3.000000,2.000000,7.000000,NaN,2.900000,16.000000,256.000000,NaN,3810.000000

summary info of the datasets

In [15]:
df.info

<bound method DataFrame.info of     Manufacturer  Category     Screen  GPU  OS  CPU_core Screen_Size_inch  \
0           Acer         4  IPS Panel    2   1         5            35.56
1           Dell         3    Full HD    1   1         3           39.624
2           Dell         3    Full HD    1   1         7           39.624
3           Dell         4  IPS Panel    2   1         5           33.782
4             HP         4    Full HD    2   1         7           39.624
..           ...       ...        ...  ...  ..       ...              ...
233       Lenovo         4  IPS Panel    2   1         7            35.56
234      Toshiba         3    Full HD    2   1         5           33.782
235       Lenovo         4  IPS Panel    2   1         5            30.48
236       Lenovo         3    Full HD    3   1         5           39.624
237      Toshiba         3    Full HD    2   1         5            35.56

     CPU_frequency  RAM_GB  Storage_GB_SSD Weight_kg  Price
0              1.6       8             256       1.6    978
1              2.0       4             256       2.2    634
2              2.7       8             256       2.2    946
3              1.6       8             128      1.22   1244
4              1.8       8             256      1.91    837
..             ...     ...             ...       ...    ...
233            2.6       8             256       1.7   1891
234            2.4       8             256       1.2   1950
235            2.6       8             256      1.36   2236
236            2.5       6             256       2.4    883
237            2.3       8             256      1.95   1499

[238 rows x 12 columns]>

In [16]:
print(df.info)

<bound method DataFrame.info of     Manufacturer  Category     Screen  GPU  OS  CPU_core Screen_Size_inch  \
0           Acer         4  IPS Panel    2   1         5            35.56
1           Dell         3    Full HD    1   1         3           39.624
2           Dell         3    Full HD    1   1         7           39.624
3           Dell         4  IPS Panel    2   1         5           33.782
4             HP         4    Full HD    2   1         7           39.624
..           ...       ...        ...  ...  ..       ...              ...
233       Lenovo         4  IPS Panel    2   1         7            35.56
234      Toshiba         3    Full HD    2   1         5           33.782
235       Lenovo         4  IPS Panel    2   1         5            30.48
236       Lenovo         3    Full HD    3   1         5           39.624
237      Toshiba         3    Full HD    2   1         5            35.56

     CPU_frequency  RAM_GB  Storage_GB_SSD Weight_kg  Price
0              1.6       8             256       1.6    978
1              2.0       4             256       2.2    634
2              2.7       8             256       2.2    946
3              1.6       8             128      1.22   1244
4              1.8       8             256      1.91    837
..             ...     ...             ...       ...    ...
233            2.6       8             256       1.7   1891
234            2.4       8             256       1.2   1950
235            2.6       8             256      1.36   2236
236            2.5       6             256       2.4    883
237            2.3       8             256      1.95   1499

[238 rows x 12 columns]>